@import url(./menu.css);
@import url(./carrusel.css);
@import url(./index.css);
@import url(./mesaDirectiva.css);
@import url(./concejales.css);
@import url(./contacto.css);
@import url(./footer.css);
@import url(./normalize.css);

* {
  font-family: sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d52230;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body h1 {
  font-size: 5rem;
}
section {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  /* body {
    background-color: #d52230;
    width: 100%;
    height: 100vh;
  } */
  body h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  /* body {
    background-color: #d52230;
    width: 100%;
    height: 100vh;
  } */
  body h1 {
    font-size: 3rem;
  }
}
