.sectionFooter {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  /* background-image: linear-gradient(to bottom,  rgb(214, 33, 48), rgb(207, 85, 96), rgb(255, 255, 255)); */
  background-color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
.sectionFooter li {
  list-style: none;
  color: black;
}

.imgFooter {
  width: 100px;
}
.imgFooter a {
  text-decoration: none;
  background-color: none;
  font-size: 30px;
  color: black;
}

.listFooter i {
  font-size: 17.5px;
  color: black;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .sectionFooter {
    display: none;
  }
}
